{% block header %}
  <h1>Find a Parking Spot</h1>
{% endblock %}

{% block content %}
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" style="text-align: left;">
        {% csrf_token %}
        <label for="{{ form.Date.id_for_label }}">Date:</label>
        {{ form.Date }}
        <label for="{{ form.Hour.id_for_label }}">Hour:</label>
        {{ form.Hour }}
        <label for="{{ form.Holiday.id_for_label }}">Holiday:</label>
        {{ form.Holiday }}
        <label for="{{ form.Rain.id_for_label }}">Rain:</label>
        {{ form.Rain }}
        <button type="submit">Check</button>
    </form>

    {% if map_html %}
        <h2>Parking Availability Map</h2>
        <div id="map-container">
            {{ map_html|safe }}
        </div>
    {% endif %}
{% endblock %}
