{% block header %}
  <h1>Find a Parking Spot</h1>
{% endblock %}

{% block content %}
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Check">
    </form>

    {% if map_html %}
        <h2>Parking Availability Map</h2>
        <div id="map-container">
            {{ map_html|safe }}
        </div>
    {% endif %}
{% endblock %}
